<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Create Article</title>
</head>
<body>
  <form action="/articles" method="POST">
    <label for="title">Title:</label><br>
    <input type="text" name="title"><br>
    <label for="content">Content:</label><br>
    <input type="text" name="content"><br><br>
<!--
    <textarea name="content" id="" cols="30" rows="10"></textarea><br>
-->
    <input type="submit">
  </form>
</body>
</html>
