<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New Article</title>
  </head>
  <body>
    <form action="/articles" method="post">
      <p>Article Title: </p>
      <p>
        <input type="text" name="title" value=""></p>
      <p>Article Body: </p>
      <p>
      <textarea name="content" rows="8" cols="80">Enter body here</textarea></p>
      <input type="submit" name="" value="submit">

    </form>
  </body>
</html>
